
@font-face {
  font-family: gameplay;
  src: url(/starter_code/rsrcs/Gameplay.ttf);
}
body {
  padding: 0;
  text-align: center;
  background-color: #0c0429;
  z-index: 0;
  font-size: 30px;
  font-family: gameplay;
  color: lime;
}

canvas{
  /* z-index: 1000; */
  top: 70px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  position: absolute;
}

.logo {
    width: 60%; 
    height: auto;
}

#start-bttn {
  font-size: 24px;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-family: gameplay;
}

#start-bttn:hover {
  background-color: lime;
}

#restart {
  font-size: 24px;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  display: none;

}

#plyrs {
  font-size: 24px;
  width: 30px;
  height: 30px;
  text-align: center;
}

#he, #wi {
  font-size: 14px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

#p {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

#pr {
  height: 150px;
  width: 100%;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* resize: both; */
  /* overflow: auto; */
}

#keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#wihe {
  display: flex;
  flex-direction: row;
}

#pr div {
  margin: 0 auto;
}

.clmn {
  display: flex;
  margin: 0 50px;
}

.clmn div {
  display: flex;
  flex-direction: column;
  margin: 0 -5px;
}

#azul {
  color: blue;
  /* text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue; */

}
#rojo {
  color: red;
}
#verde {
  color: green;
}
#amarillo {
  color: yellow;
}

.npt {
  border-radius: 50px;
}