body {
  padding: 0;
  text-align: center;
  background-color: #0c0429;
  z-index: 0;
  font-size: 30px;
  color: white;
}

canvas{
  /* z-index: 1000; */
  top: 70px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  position: absolute;
}

.logo {
    width: 60%; 
    height: auto;
}

#start-bttn {
  font-size: 24px;
  margin: 100px;
  border-radius: 50px;
  width: 200px;
  height: 50px;
}

#start-bttn:hover {
  background-color: #84b424
}

#plyrs {
  font-size: 24px;
  width: 30px;
  height: 30px;
}
